{% include header.html %}
<div class="container">
	<div class="profile">
		<a href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.baseurl }}/{{site.author.picture}}" class="profile-image"></a>
		<div>
			<h2 style="margin-bottom: 0; font-weight: 700;">{{site.author.name}}</h2>				
			<br>
<a href="https://github.com/{{site.author.github}}" target="_blank"><img src="{{ site.baseurl }}/assets/images/icon/github.svg" class="social-icon"></a> {{ site.author.bio }}
			<br>
			<div class="mode" id="mode-switcher" onclick="toggleNightMode();">
				<span></span>
			</div>
		</div>
	</div>
	{{ content }}
	<div class="footer">
		<span style="padding-right:10px"><font color="red">©️ </font><a href="https://hpc.social"><b>hpc.social</b> community</a></span> 
		| <a style="padding-left:10px; padding-right:10px" target="_blank" href="https://github.com/hpc-social/blog/">About</a>
		 <a style="padding-left:65%;" target="_blank" href="{{ site.repo }}">Add Your Blog</a>
	</div>
</div>
{% include footer.html %}
